<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
        
        <!-- <div class="row mr-2 ml-auto">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                        <img src="" alt="" class="user-image mr-1 p2 width:40px">
                        User Name
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div> -->
        <div  *ngIf="!authenticated" class="dugmici">
        <div class = "dugmiciDiv">
            <div class = "dugmici1"  routerLink = "/login">Uloguj se</div>
            <div class = "dugmici2" routerLink = "/register" >Registruj se</div>
        </div>
    </div>

    <div  *ngIf="authenticated" class="dugmici">
        <div class = "dugmiciDiv">
            <div class = "dugmici3" (click)="logout()"  routerLink = "/login">Odjavi se</div>
        </div>
    </div>
    </mat-toolbar-row>
</mat-toolbar>
