 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// body{
//     position: relative;
//     font-family: 'Roboto', sans-serif;
// }
// // html, body { height: 100%; }
// // body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #1e1e2f; 
}
