<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
        Home
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <iframe width="560" height="315" 
        [src]="videoUrl" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
        </div>
    </div>
</div>
