
// img.image{
//     width: 50%;
// }
// div.donor,
// div.category{
//     margin-top: 0;
//     text-align: center;
//     background-color: rgb(163, 231, 213);
// }
div.container{
    height:fit-content;
    width: 330px;
     display: block;
    box-shadow: 10px 5px 5px gray;
    
}
// div.description{
//     width: 45%;
//     float: right;
// }



// .container{
//     width: 200px;
//     display: block;
//     box-shadow: 10px 5px 5px gray;
// }