@import "../home/home.component.scss";

img.image{
    width: 50%;
}
div.donor,
div.category{
    margin-top: 0;
    text-align: center;
    background-color: powderblue;
}
div.container{
    height: fit-content;
}
div.description{
    width: 45%;
    float: right;
}

// :host{
//     width: 200px;
//     display: block;
//     box-shadow: 10px 5px 5px gray;
// }