img.image{
    width: 50%;
}
h3, div.donor{
    background-color: rgb(207, 24, 24);
    margin-top: 0;
    text-align: center;
}
div.donor{
    text-align: center;
}

div.description{
    width: 25%;
    float: right;
}

:host{
    width: 400px;
    display: block;
    box-shadow: 10px 5px 5px rgb(45, 137, 160);
}

div.container{
    height: fit-content;
}