<mat-nav-list>
    <div class="logo py-4">
         BeHuman
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/clothes" routerLinkActive="list-item-active">
        <mat-icon>clothes</mat-icon>Clothes
    </a>
    <a mat-list-item routerLink="/food" routerLinkActive="list-item-active">
        <mat-icon>food</mat-icon>Food
    </a>
    <a mat-list-item routerLink="/volunteering" routerLinkActive="list-item-active">
        <mat-icon>volunteering</mat-icon>Volunteering
    </a>
</mat-nav-list>


