<mat-nav-list>
    <div class="logo py-4">
         BeHuman
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>O nama
    </a>
    <a mat-list-item routerLink="/clothes" routerLinkActive="list-item-active">
        <mat-icon>clothes</mat-icon>Odeca
    </a>
    <a mat-list-item routerLink="/food" routerLinkActive="list-item-active">
        <mat-icon>food</mat-icon>Hrana
    </a>
    <a mat-list-item routerLink="/volunteering" routerLinkActive="list-item-active">
        <mat-icon>volunteering</mat-icon>Volontiranje
    </a>
</mat-nav-list>


