// img.image{
//     width: 50%;
// }
// div.name{
//     margin-top: 0;
//     text-align: center;
//     background-color: rgb(163, 231, 213);
// }
div.container{
    height: fit-content;
    width: 300px;
    display: block;
   box-shadow: 10px 5px 5px gray;
}

// :host{
//     width: 200px;
//     display: flex;
//     box-shadow: 10px 5px 5px gray;
// }