.container-fluid{
    color: white;
    padding: 0 1rem;
    background: #f1f5f9; 
    
}
.header{
    min-height: 120px;
        background: #62ac98;
        margin: 0 -1rem;
        font-size: 36px;
        padding: 0 1rem;
}
.mat-button{
    float: right;
  }
.content{
    flex-direction: column;
    min-height:  2000px;
        border-radius: 10px;
        margin-top: 2rem;
        background: white;
        color: black;
        font-size: 0.8rem;
        // &-data{
        //     top:50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }
}
app-clothes-list{
    
    margin-right: 40px;
    float: left;
    
}

app-clothes-details{
    float: left;
}

