<div class="container-fluid">
    <div class="header p-3 mt-2">
        Odeca
        <button mat-button (click)="openDialog()">Dodaj donaciju</button>
    </div>
    <div class="content shadow p-3 position-relative">
        <!-- <div class="page__content-data position-absolute text-center"> -->

                <!-- <div class="list"> -->
             <app-clothes-list></app-clothes-list>
            <!-- </div> -->
            <!-- <div class="details"> -->
            <app-clothes-details [clothes]="selectedClothes | async"></app-clothes-details>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>