div.description{
    width: 45%;
    float: right;
}
// :host{
//     width: 400px;
//     display: block;
//     box-shadow: 10px 5px 5px rgb(45, 137, 160);
// }
div.container{
    height: fit-content;
}

.volunteers{
    float: right;
}